body{
    margin: 0;
    text-align: center;
    background-color: #3d3a38;
    font-family: Fira Sans;
    font-weight: 800;
}
header{
    font-family: Fira Sans, serif;
    font-weight: 800;
    background-color: #3d3a37;
    color: #fff;
}
header>h1{
    font-size: 3em;
    color: #fff;
    letter-spacing: 0.9px;
    background-color: #F25c23;
    text-shadow: 1px 2px 3px #3d3a38; 
}
button{
    padding: 25px 30px;
}
img{
    width: 40%;
    height: 60%;
    margin-top: 2.75%;
}
#show{
    color: #fff;
    text-align: left;
    margin-left: 35%;
}